[Unit]
# Human readable name of the unit
Description=Matrix Zmood Lights

[Service]
# Command to execute when the service is started
Type=simple
ExecStart=/usr/bin/python /home/pi/zmoodlights/matrix_service.py
KillMode=process

[Install]
WantedBy=multi-user.target
